@main("Log In to Yard Sell Helper") {

    <div class='auth-containers'>
        
        <h1>WELCOME TO YARD SELL HELPER, PLEASE LOG IN</h1>
       
        <div>
            <span>USERNAME</span>
            <input type='text' name='username'>
        </div>
        
        <div>
            <span>PASSWORD</span>
            <input type='password' name='pwd'>
        </div>
        
        <a class='cyan-btn'>LOG IN</a>
        <span>Don't Have an Account yet? &nbsp; <a class='auth-link'  href='/signup'>Sign Up Here!</a></span>
        
    </div>

}