@main("Guest Sign Up") {

    <div class='auth-containers'>
               
        <div>
            <span>USERNAME</span>
            <input type='text' name='username'>
        </div>
        
        <div>
            <span>PASSWORD</span>
            <input type='password' name='pwd'>
        </div>
        
        <div>
            <span>EMAIL</span>
            <input type='email' name='email'>
        </div>
        
        <div>
            <span>NAME</span>
            <input type='text' name='name'>
        </div>
        
        <a class='blue-btn'>SIGN UP</a>
        <span>Already have an account? &nbsp; <a class='auth-link' href='/'>Log in!</a></span>
        
    </div>

}