@main("Log In to Yard Sell Helper") {

    <div class='auth-containers' id='login'>
        
        <h1>WELCOME TO YARD SELL HELPER, PLEASE LOG IN</h1>
       
        <div>
            <span>USERNAME</span>
            <input type='text' name='username'>
        </div>
        
        <div>
            <span>PASSWORD</span>
            <input type='text' name='pwd'>
        </div>
        
        <a class='cyan-btn'>LOG IN</a>
        <span>Don't Have an Account yet? &nbsp; <span id='sign-up-link'>Sign Up Here!</span></span>
        
    </div>

}